<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>

<table class="table">
  <thead>
    <tr> 
      <th> Total Products </th>
      <th> Total Categories </th>
    </tr>
  </thead>
    <td><%= @product_count %></td>
    <td><%= @category_count %></td>
</table>
<a href="/admin/products"><button class="btn btn-info">GO TO ADMIN PRODUCTS PAGE</button></a>


