<header class="page-header">
  <h1>About Us</h1>
  <i class="fa fa-leaf" aria-hidden="true"></i>
  <i class="fa fa-leaf" aria-hidden="true"></i>
  <i class="fa fa-leaf" aria-hidden="true"></i>
  <i class="fa fa-leaf" aria-hidden="true"></i>
  <i class="fa fa-leaf" aria-hidden="true"></i>
  <i class="fa fa-leaf" aria-hidden="true"></i>
  <i class="fa fa-leaf" aria-hidden="true"></i>
  <i class="fa fa-leaf" aria-hidden="true"></i>

</header>
<div>
  <p>We are a VERY unique independent plant shop located somewhere in the stratosphere.</p>
  <p>If you can find us, you can buy us.</p>
  <p>Literally.</p>
</div>
